% rebase('base.html')
<body>
    <h2>POZDRAVLJENI!</h2>
    <h3>IZBERITE ŠPORT ZA VNOS ALI ENO IZMED PREOSTALIH OPCIJ</h3>
    <hr>
    <br>
    <ul>
        %for disciplina in seznam:
            <li><a class="sporti" href="http://127.0.0.1:8080/{{disciplina}}/">{{disciplina}}</a></li>
        %end
    </ul>
    <br>
    <hr>
    <br>
    <form action="/dodaj/">
        <b>SLIKA</b>: <input type="url" name = "url_slika" placeholder="url povezava slike..."><br>
        <b>ŠPORT ZA DODAJO</b>: <input type = "text" name = "dodaj" placeholder="ime športa..."required>
        <input type ="submit" value="DODAJ ŠPORT"> 
    </form>
    <form action="/izbrisi/">
        <b>ŠPORT ZA IZBRIS</b>: <input type = "text" name = "izbrisi" placeholder="ime športa..." required>
        <input type ="submit" value="IZBRIŠI ŠPORT">  
    </form>
    <br>
    <hr>
    <br>
    <p>
        <a class="preusmeritev" href="http://127.0.0.1:8080/zadnje_aktivnosti/">ZADNJI VNOSI - TRENINGI</a>
    </p>
    <p>
        <a class="preusmeritev" href="http://127.0.0.1:8080/ideje/pregled/">PREGLED VNEŠENIH IDEJ</a>
    </p>  
</body> 
<style>
    ul {
        background: #aeecff;
        padding: 20px;
        width: 47%;
        border-radius: 4px;
    }
    ul li {
        padding: 5px;
        margin-left: 35px;
    }

    body{
        background-color: rgb(220, 250, 255);
    }
    hr{
        width:50%;
        margin: 0px;
        color: rgb(19, 25, 44);
    }
    a.preusmeritev:link, a.preusmeritev:visited {
        border-radius: 4px;
        color: black;
        background-color: #ffcccc;
        padding: 10px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }
    a.preusmeritev:hover, a.preusmeritev:active {
            background-color: #ffa1a1;
            font-weight: bold;
            color: white;
    }
    a.sporti:link, a.sporti:visited {
        border-radius: 4px;
        color: black;
        background-color: #5ec4ff;
        padding: 10px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }
    a.sporti:hover, a.sporti:active {
            background-color: #ffffff;
            font-weight: bold;
            color: black;
    }
    input[type=text], select {
        width: 15%;
        padding: 10px 16px;
        margin: 4px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 12pt;
    }
    input[type=submit] {
        width: 9%;
        background-color: #dddddd;
        padding: 10px 16px;
        margin: 4px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
        font-size: 9pt;
    }
    input[type=number], select {
        width: 8%;
        padding: 10px 16px;
        margin: 4px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    input[type=url], select {
        width: 15%;
        padding: 10px 16px;
        margin: 4px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    input[type=submit]:hover {
      background-color: #aaaaaa;
      font-size: 10pt;
    }
</style>