% rebase('base.html')

<body>
  <div class="ozadje">
    <form method="POST">
      <b>UPORABNIŠKO IME</b>: <input name="uporabnisko_ime" type="text" placeholder="uporabniško ime...">
      <br>
      % if napaka:
      <p class="help is-danger">{{ napaka }}</p>
      % end
      <b>GESLO</b>: <input name="geslo" type="password" placeholder="geslo...">
      <br>
      <input type="submit" value="PRIJAVI SE">
    </form>
  </div>
</body>
<style>
  div {
    background: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .7)), url("https://i1.sndcdn.com/artworks-000214362504-pzz4sl-t500x500.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  input[type=password],
  select {
    width: 15%;
    padding: 10px 16px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 12pt;
  }

  input[type=text],
  select {
    width: 15%;
    padding: 10px 16px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 12pt;
  }

  input[type=submit] {
    width: 10%;
    background-color: #ffcccc;
    padding: 10px 16px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12pt;
    font-family: 'Times New Roman', Times, serif;
  }

  input[type=submit]:hover {
    background-color: #ffa1a1;
    font-size: 12pt;
    color: white;
    font-family: 'Times New Roman', Times, serif;
  }
</style>